html, body, #root{
  height:100%;
}

.prescription-number {
  height:100%;
  display: flex;
  justify-content:center;
  align-items:center;
}

.results-container {
  display: flex;
  justify-content: center;
}

.results-container .expected{
  width:50%;
}