html, body, #root{
  height:100%;
}

.prescription h1{
  text-align: center;
}

.prescription-number {
  margin-top:30px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.prescription-container {
  display: flex;
  justify-content: center;
  margin:30px 0;
}

.prescription-container .expected,.verified,.redundant{
  width:50%;
}


.list-group-item{
  display: flex;
  justify-content: space-around;
}

.medications{
  display: flex;
  justify-content: space-around;
  flex: 1;
}


.list-group-item > button {
  margin-left:30px;
}

.list-group-item img{
  width:100px;
}

.approval-container, .scan-results-container{
  display: flex;
  justify-content: center;
}

.scan-results-container{
  margin-bottom: 30px;
}

.scan-results-container > button{
  width: 50%;
}

.approval-container > button{
  width: 50%;
}


.disabled{
  pointer-events: none;
}

.warning-precription-nr{
  display: flex;
  justify-content: center;
}

.validated{
  display: flex;
justify-content: center;
  align-items: center;
  flex-direction: column;
  height:70%;
}

.validated > *{
  width: 50%;
}
.validated > h1{
  text-align: center;

}